<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="student" class="com.example.Student">
        <property name="id" value="12"/>
        <property name="name" value="Akanksha"/>
        <property name="age" value="21"/>
        <property name="laptops">
            <list>
                <ref bean="lap1"/>
                <ref bean="lap2"/>
            </list>
        </property>
    </bean>

    <bean id="student1" class="com.example.Student">
<!--        <constructor-arg value="22"/>-->
<!--        <constructor-arg value="joe"/>-->
<!--        <constructor-arg value="45"/>-->
        <constructor-arg value="lap1"/>

        <property name="laptops">
        <list>
            <ref bean="lap2"/>
            <ref bean ="lap1"/>
        </list>
    </property>
    </bean>

    <bean id ="lap1" class="com.example.Laptop">
        <property name="model" value="Alienware"/>
    </bean>
    <bean id ="lap2" class = "com.example.Laptop">
    <property name="model" value="m1"/>
    </bean>
</beans>